In [1]:
import os
from pathlib import Path
import pandas as pd

In [2]:
data_folder_path = Path('~/lsc23/meta/').expanduser()
metadata_path = data_folder_path / 'lsc22_metadata.csv'
visual_concept_path = data_folder_path / 'lsc22_visual_concepts.csv'
gps_data_path = data_folder_path / 'vaisl_gps.csv'

In [3]:
metadata = pd.read_csv(metadata_path, low_memory=False, index_col=0)
vc_data = pd.read_csv(visual_concept_path, low_memory=False, index_col=0)
gps_data = pd.read_csv(gps_data_path, low_memory=False, index_col=0)

In [7]:
metadata['ImageID'].fillna('', inplace=True)
metadata['index'] = metadata['ImageID'].apply(lambda x: x.split('.')[0])
metadata.head()

,minute_id,utc_time,local_time,latitude,longitude,altitude,semantic_name,time_zone,heart_rate(bpm),heart_rate_conf,...,sleep_level,awake,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,sleep_efficiency,ImageID,index
0,20190101_0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,3.0,...,NaN,NaN,0.0,299.0,52.0,5.0,351.0,90.0,,
1,20190101_0001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,3.0,...,NaN,NaN,0.0,299.0,52.0,5.0,351.0,90.0,,
2,20190101_0002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,3.0,...,NaN,NaN,0.0,299.0,52.0,5.0,351.0,90.0,,
3,20190101_0003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,3.0,...,NaN,NaN,0.0,299.0,52.0,5.0,351.0,90.0,,
4,20190101_0004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,3.0,...,NaN,NaN,0.0,299.0,52.0,5.0,351.0,90.0,,

In [8]:
vc_data['index'] = vc_data['ImageID'].apply(lambda x: x.split('.')[0])
vc_data.head()

,ImageID,Tags,OCR,Caption,CaptionScore,index
0,20000101_000113_000.jpg,"wall,bathroom,indoor,toilet,tile,tiled",NaN,a mirror and a shelf,0.215212,20000101_000113_000
1,20000101_000145_000.jpg,"text,wall,indoor",NaN,a room with a tv and a window,0.440993,20000101_000145_000
2,20000101_000217_000.jpg,"text,wall,indoor",NaN,a wall with a light on it,0.465437,20000101_000217_000
3,20000101_000249_000.jpg,text,NaN,a wall with a light on it,0.464277,20000101_000249_000
4,20000101_000321_000.jpg,"text,wall,indoor",NaN,a wall with a light on it,0.456158,20000101_000321_000

In [10]:
gps_data['index'] = gps_data.index
gps_data['index'] = gps_data['index'].apply(lambda x: x.split('.')[0])
gps_data.reset_index(drop=True, inplace=True)
gps_data.head()

,minute_id,stop,new_lat,new_lng,semantic_name,foursquare_id,original_name,categories,parent,movement,movement_prob,city,country,new_timezone,index
0,20190101_1037,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.981373,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103717_000
1,20190101_1037,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.997463,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103749_000
2,20190101_1038,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.875969,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103821_000
3,20190101_1038,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.998937,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103853_000
4,20190101_1039,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.756499,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103925_000

In [11]:
df = gps_data.merge(vc_data, on='index')
df.head()

,minute_id,stop,new_lat,new_lng,semantic_name,foursquare_id,original_name,categories,parent,movement,movement_prob,city,country,new_timezone,index,ImageID,Tags,OCR,Caption,CaptionScore
0,20190101_1037,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.981373,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103717_000,20190101_103717_000.jpg,indoor,NaN,a window with a curtain,0.367844
1,20190101_1037,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.997463,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103749_000,20190101_103749_000.jpg,"wall,indoor,room,furniture",NaN,a room with a shelf and a mirror,0.277621
2,20190101_1038,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.875969,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103821_000,20190101_103821_000.jpg,"building,window",NaN,a view of a building from a window,0.349112
3,20190101_1038,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.998937,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103853_000,20190101_103853_000.jpg,"indoor,wall,person,counter,cluttered",NaN,a person in a kitchen,0.491968
4,20190101_1039,True,53.38998,-6.14576,HOME,NaN,NaN,NaN,NaN,Inside,0.756499,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103925_000,20190101_103925_000.jpg,"indoor,wall",NaN,a black rectangular object with a white object...,0.334640

In [13]:
df.to_csv('lsc23.csv', index=False)
len(set(gps_data['index']).intersection(set(vc_data['index'])))

723329